.pregunta_cuerpo {
	margin: auto;
	text-align: center;
	align-items: center;
	background-color: #f2f2f2;
	max-width: 800px;
	border: 1px solid #adb2ad;
	padding: 24px;
	border-radius: 12px;
}

.pregunta_botones {
	text-align: center;
	align-items: center;
	margin: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#respuesta,
#btn_confirmar,
#btn_siguiente {
	width: 20%;
}
